{
  "openapi": "3.1.0",
  "info": {
    "title": "FloppyData Client API",
    "description": "Client API v2 for Web Data, proxy products, proxy tools, and account rollups. You can manage your API keys in [account settings](https://app.floppydata.com/settings/account).",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.floppydata.net",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Client API key for the authenticated account."
      }
    },
    "schemas": {
      "ApiErrorCode": {
        "type": "string",
        "enum": [
          "unauthorized",
          "forbidden",
          "invalid_request",
          "insufficient_balance",
          "account_not_configured",
          "not_found",
          "settings_in_use",
          "settings_limit_reached",
          "session_limit_reached",
          "session_not_active",
          "session_active",
          "connection_in_use",
          "service_error",
          "internal_error"
        ]
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "$ref": "#/components/schemas/ApiErrorCode"
              },
              "message": {
                "type": "string",
                "example": "Invalid request parameters."
              },
              "details": {
                "type": "object",
                "properties": {
                  "target": {
                    "example": "settings.id",
                    "type": "string"
                  },
                  "recoveryHint": {
                    "example": "Stop the active session before reusing these settings.",
                    "type": "string"
                  },
                  "activeSessionId": {
                    "example": "58e531ee-16ca-49d0-8722-b425d154cc10",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "nextOperationId": {
                    "example": "stopBrowserSession",
                    "type": "string"
                  },
                  "requestId": {
                    "example": "a1901a29e82a999f-CDG",
                    "type": "string"
                  },
                  "serviceStatus": {
                    "example": 503,
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 599
                  },
                  "failureStage": {
                    "example": "browser_start",
                    "type": "string"
                  },
                  "diagnosticCode": {
                    "example": "token_sign_failed",
                    "type": "string"
                  }
                },
                "additionalProperties": {}
              }
            },
            "required": [
              "code",
              "message",
              "details"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "WebDataSearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
            "description": "Unique identifier for this result."
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "Page title."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Page URL."
          },
          "snippet": {
            "description": "Search result excerpt when available.",
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "id",
          "title",
          "url"
        ],
        "additionalProperties": false
      },
      "WebDataBalance": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 100
              },
              "used": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 25
              },
              "remaining": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 75
              }
            },
            "required": [
              "total",
              "used",
              "remaining"
            ]
          }
        },
        "required": [
          "requests"
        ]
      },
      "WebDataRequestUsage": {
        "type": "object",
        "properties": {
          "yesterday": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 30
              },
              "successful": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 28
              },
              "failed": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 2
              }
            },
            "required": [
              "total",
              "successful",
              "failed"
            ]
          },
          "last7Days": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 30
              },
              "successful": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 28
              },
              "failed": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 2
              }
            },
            "required": [
              "total",
              "successful",
              "failed"
            ]
          },
          "last30Days": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 30
              },
              "successful": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 28
              },
              "failed": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 2
              }
            },
            "required": [
              "total",
              "successful",
              "failed"
            ]
          },
          "requestedRange": {
            "description": "Usage for the requested from/to range. Present only when from or to is supplied.",
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 30
              },
              "successful": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 28
              },
              "failed": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 2
              }
            },
            "required": [
              "total",
              "successful",
              "failed"
            ]
          }
        },
        "required": [
          "yesterday",
          "last7Days",
          "last30Days"
        ],
        "description": "UTC usage rollups. yesterday is the previous UTC calendar day; last7Days and last30Days are rolling windows ending at request time."
      },
      "RotatingProxyConnection": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "http",
              "https",
              "socks5"
            ],
            "example": "http"
          },
          "host": {
            "type": "string",
            "example": "geo.g-w.info"
          },
          "port": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "example": 10080
          },
          "username": {
            "type": "string",
            "example": "user-USERNAME-type-residential-session-my_session_1-country-US-city-New_York-asn-15169-rotation-15-udp-1"
          },
          "password": {
            "type": "string",
            "example": "PASSWORD"
          },
          "connectionString": {
            "type": "string",
            "description": "Canonical copy-paste proxy URL.",
            "example": "socks5://user-USERNAME-type-residential-session-my_session_1-country-US-city-New_York-asn-15169-rotation-15-udp-1:PASSWORD@geo.g-w.info:10800"
          }
        },
        "required": [
          "protocol",
          "host",
          "port",
          "username",
          "password",
          "connectionString"
        ],
        "description": "Generated proxy connection. Use connectionString as the primary copy-paste value."
      },
      "Subuser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "example": 123
          },
          "name": {
            "type": "string",
            "description": "Human-readable label for the proxy subuser.",
            "example": "crawler-prod"
          },
          "username": {
            "type": "string",
            "description": "Base proxy username. Prefix with user- when building smart proxy usernames.",
            "example": "USERNAME"
          },
          "password": {
            "type": "string",
            "example": "PASSWORD"
          }
        },
        "required": [
          "id",
          "name",
          "username",
          "password"
        ]
      },
      "RotatingProxyBalance": {
        "type": "object",
        "properties": {
          "expiring": {
            "type": "object",
            "properties": {
              "expiresAt": {
                "type": "string",
                "example": "2026-01-25T08:33:30Z"
              },
              "traffic": {
                "type": "object",
                "properties": {
                  "availableBytes": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991,
                    "example": 10737418240
                  },
                  "availableGb": {
                    "type": "number",
                    "minimum": 0,
                    "example": 10
                  }
                },
                "required": [
                  "availableBytes",
                  "availableGb"
                ]
              }
            },
            "required": [
              "expiresAt",
              "traffic"
            ]
          },
          "nonExpiring": {
            "type": "object",
            "properties": {
              "traffic": {
                "type": "object",
                "properties": {
                  "availableBytes": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991,
                    "example": 10737418240
                  },
                  "availableGb": {
                    "type": "number",
                    "minimum": 0,
                    "example": 10
                  }
                },
                "required": [
                  "availableBytes",
                  "availableGb"
                ]
              }
            },
            "required": [
              "traffic"
            ]
          },
          "total": {
            "type": "object",
            "properties": {
              "traffic": {
                "type": "object",
                "properties": {
                  "availableBytes": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991,
                    "example": 10737418240
                  },
                  "availableGb": {
                    "type": "number",
                    "minimum": 0,
                    "example": 10
                  }
                },
                "required": [
                  "availableBytes",
                  "availableGb"
                ]
              }
            },
            "required": [
              "traffic"
            ]
          }
        },
        "required": [
          "expiring",
          "nonExpiring",
          "total"
        ]
      },
      "RotatingProxyTrafficUsage": {
        "type": "object",
        "properties": {
          "yesterday": {
            "type": "object",
            "properties": {
              "totalBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 10737418240
              },
              "totalGb": {
                "type": "number",
                "minimum": 0,
                "example": 10
              },
              "txBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Upload bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              },
              "rxBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Download bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              }
            },
            "required": [
              "totalBytes",
              "totalGb",
              "txBytes",
              "rxBytes"
            ]
          },
          "last7Days": {
            "type": "object",
            "properties": {
              "totalBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 10737418240
              },
              "totalGb": {
                "type": "number",
                "minimum": 0,
                "example": 10
              },
              "txBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Upload bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              },
              "rxBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Download bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              }
            },
            "required": [
              "totalBytes",
              "totalGb",
              "txBytes",
              "rxBytes"
            ]
          },
          "last30Days": {
            "type": "object",
            "properties": {
              "totalBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 10737418240
              },
              "totalGb": {
                "type": "number",
                "minimum": 0,
                "example": 10
              },
              "txBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Upload bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              },
              "rxBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Download bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              }
            },
            "required": [
              "totalBytes",
              "totalGb",
              "txBytes",
              "rxBytes"
            ]
          },
          "requestedRange": {
            "description": "Usage for the requested from/to range. Present only when from or to is supplied.",
            "type": "object",
            "properties": {
              "totalBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991,
                "example": 10737418240
              },
              "totalGb": {
                "type": "number",
                "minimum": 0,
                "example": 10
              },
              "txBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Upload bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              },
              "rxBytes": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Download bytes. Always null: usage is reported as total traffic only.",
                "example": 5368709120
              }
            },
            "required": [
              "totalBytes",
              "totalGb",
              "txBytes",
              "rxBytes"
            ]
          }
        },
        "required": [
          "yesterday",
          "last7Days",
          "last30Days"
        ],
        "description": "UTC traffic rollups. yesterday is the previous UTC calendar day; last7Days and last30Days are rolling windows ending at request time."
      },
      "RotatingProxyRequestEvent": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Event time, RFC3339, UTC.",
            "example": "2026-07-15T14:03:27Z"
          },
          "host": {
            "type": "string",
            "description": "Target host the request went to (may include port for CONNECT/SOCKS5).",
            "example": "example.com:443"
          },
          "trafficIn": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Bytes received.",
            "example": 48211
          },
          "trafficOut": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Bytes sent.",
            "example": 3944
          },
          "connectDurationMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Time to connect to the target host, milliseconds.",
            "example": 187
          },
          "fullDurationMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Total request duration, milliseconds.",
            "example": 12440
          },
          "subuserId": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Subuser the request went through. 0 if not applicable.",
            "example": 456
          },
          "proxyType": {
            "type": "string",
            "description": "\"residential\", \"mobile\", or \"datacenter\".",
            "example": "residential"
          },
          "protocol": {
            "type": "string",
            "description": "Client-facing protocol, e.g. \"http\", \"socks5\".",
            "example": "http"
          },
          "country": {
            "type": "string",
            "description": "Requested proxy geo-targeting country. May be empty.",
            "example": "us"
          },
          "region": {
            "type": "string",
            "description": "Requested region. May be empty.",
            "example": "California"
          },
          "city": {
            "type": "string",
            "description": "Requested city. May be empty.",
            "example": "Los Angeles"
          },
          "rotation": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Rotation setting used for the request.",
            "example": 0
          },
          "sessionId": {
            "description": "Sticky-session ID if one was used. Omitted when empty.",
            "example": "a1b2c3",
            "type": "string"
          }
        },
        "required": [
          "date",
          "host",
          "trafficIn",
          "trafficOut",
          "connectDurationMs",
          "fullDurationMs",
          "subuserId",
          "proxyType",
          "protocol",
          "country",
          "region",
          "city",
          "rotation"
        ]
      },
      "StaticProxy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "example": 1
          },
          "ip": {
            "type": "string",
            "example": "123.45.67.89"
          },
          "proxyType": {
            "type": "string",
            "enum": [
              "isp",
              "datacenter"
            ],
            "example": "isp"
          },
          "countryCode": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "US"
          },
          "countryName": {
            "type": "string",
            "example": "United States"
          },
          "connection": {
            "type": "object",
            "properties": {
              "host": {
                "type": "string",
                "example": "123.45.67.89"
              },
              "port": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991,
                "example": 1080
              },
              "username": {
                "type": "string",
                "example": "USERNAME"
              },
              "password": {
                "type": "string",
                "example": "PASSWORD"
              },
              "connectionString": {
                "type": "string",
                "description": "Canonical copy-paste static proxy URL.",
                "example": "http://USERNAME:PASSWORD@123.45.67.89:1080"
              }
            },
            "required": [
              "host",
              "port",
              "username",
              "password",
              "connectionString"
            ]
          },
          "ownedFrom": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "example": "2026-02-19T09:55:59.936291Z"
          },
          "ownedUntil": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "example": null
          },
          "lastSwapAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "example": "2026-02-19T09:55:59.936291Z"
          }
        },
        "required": [
          "id",
          "ip",
          "proxyType",
          "countryCode",
          "countryName",
          "connection",
          "ownedFrom",
          "ownedUntil",
          "lastSwapAt"
        ]
      },
      "BrowserSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "timedOut",
              "failed"
            ]
          },
          "connectUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "settings": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              },
              "persistence": {
                "type": "string",
                "enum": [
                  "burner",
                  "persistent"
                ]
              },
              "ttlSeconds": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 86400
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "retentionExpiresAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "id",
              "persistence",
              "ttlSeconds",
              "retentionExpiresAt"
            ],
            "additionalProperties": false
          },
          "runtime": {
            "type": "object",
            "properties": {
              "timeoutSeconds": {
                "default": 600,
                "type": "integer",
                "minimum": 60,
                "maximum": 21600
              },
              "keepAlive": {
                "default": false,
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "createdAt": {
            "type": "string"
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expiresAt": {
            "type": "string"
          },
          "endedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "status",
          "connectUrl",
          "settings",
          "runtime",
          "createdAt",
          "startedAt",
          "expiresAt",
          "endedAt"
        ],
        "additionalProperties": false,
        "example": {
          "id": "58e531ee-16ca-49d0-8722-b425d154cc10",
          "status": "running",
          "connectUrl": "wss://api.floppydata.net/v2/browser/sessions/58e531ee-16ca-49d0-8722-b425d154cc10/connect?token=SIGNED_TOKEN",
          "settings": {
            "id": "f742823c-7ba6-4488-a72d-6e9c5447eacb",
            "persistence": "persistent",
            "ttlSeconds": 900,
            "retentionExpiresAt": null
          },
          "runtime": {
            "timeoutSeconds": 1800,
            "keepAlive": true
          },
          "metadata": {
            "taskId": "checkout-42"
          },
          "createdAt": "2026-07-10T12:00:00Z",
          "startedAt": "2026-07-10T12:00:01Z",
          "expiresAt": "2026-07-10T12:30:00Z",
          "endedAt": null
        }
      }
    }
  },
  "tags": [
    {
      "name": "Web Data",
      "description": "Search and fetch pages, then inspect Web Data balance and usage."
    },
    {
      "name": "Proxy",
      "description": "Proxy tools shared across proxy products."
    },
    {
      "name": "Rotating Proxy",
      "description": "Rotating proxy subusers, connections, locations, balance, usage, and per-request history."
    },
    {
      "name": "Static Proxy",
      "description": "Static proxy inventory for the authenticated account."
    },
    {
      "name": "Account",
      "description": "Account-level balance and usage rollups across available products."
    },
    {
      "name": "Cloud Browser",
      "description": "Session-first cloud browsers with persistent settings under the hood.\n            Create a session, connect using the returned WebSocket URL, then navigate with Playwright or Puppeteer. Reuse settings.id to restore the same identity and browser state."
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/v2/web-data/fetch": {
      "post": {
        "operationId": "fetchWebData",
        "summary": "Fetch a page with Web Data",
        "description": "Fetches a page and returns its rendered HTML. Explicit low, medium, or high difficulty makes one attempt; auto retries low, then medium, then high only after a failed attempt. The first successful attempt consumes one Web Data request. Failed fetches return structured v2 JSON errors with message \"Failed to scrape the URL\" and safe metadata only. Use this for page retrieval. Do not use it for usage reporting; use getWebDataUsage or getAccountUsage instead.",
        "tags": [
          "Web Data"
        ],
        "responses": {
          "200": {
            "description": "Fetched page HTML.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "html": {
                      "type": "string",
                      "description": "HTML content returned by the target page."
                    },
                    "sourceUrl": {
                      "type": "string",
                      "description": "Target URL that was fetched.",
                      "example": "https://example.com"
                    },
                    "fetchedAt": {
                      "type": "string",
                      "description": "ISO 8601 timestamp when the fetch completed.",
                      "example": "2026-06-10T12:00:00.000Z"
                    }
                  },
                  "required": [
                    "html",
                    "sourceUrl",
                    "fetchedAt"
                  ]
                },
                "example": {
                  "html": "<!doctype html><html><head><title>Example Domain</title></head><body>...</body></html>",
                  "sourceUrl": "https://example.com",
                  "fetchedAt": "2026-06-10T12:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Target page URL to fetch through Web Data.",
                    "example": "https://example.com"
                  },
                  "countryCode": {
                    "description": "2-letter country code for the request exit location.",
                    "example": "US",
                    "type": "string",
                    "pattern": "^[a-zA-Z]{2}$"
                  },
                  "city": {
                    "description": "City for the request exit location.",
                    "example": "New York",
                    "type": "string",
                    "minLength": 1
                  },
                  "difficulty": {
                    "description": "Access difficulty pool. low, medium, and high make one attempt. auto retries low, then medium, then high after a failed attempt. Omit this field to make one attempt at the default difficulty.",
                    "example": "auto",
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high",
                      "auto"
                    ]
                  },
                  "renderDelayMs": {
                    "description": "Delay before rendered HTML is returned, in milliseconds.",
                    "example": 5000,
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 10000
                  },
                  "cacheMaxAgeDays": {
                    "description": "Maximum age of cached content in days, from 0 to 1.",
                    "example": 0,
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        }
      }
    },
    "/v2/web-data/search": {
      "post": {
        "operationId": "searchWebData",
        "summary": "Search the web with Web Data",
        "description": "Searches the public web and returns lightweight organic results in ranking order. One successful search consumes one Web Data request. Use this to discover relevant pages; use fetchWebData when you already have a URL and need its HTML. AI overviews, related questions, and location controls are not included.",
        "tags": [
          "Web Data"
        ],
        "responses": {
          "200": {
            "description": "Normalized organic search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "Unique identifier for this search request."
                    },
                    "query": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Normalized search query."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebDataSearchResult"
                      },
                      "description": "Organic results in search ranking order."
                    }
                  },
                  "required": [
                    "requestId",
                    "query",
                    "results"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "requestId": "b111bdad-09aa-41df-a216-5b22d85db45c",
                  "query": "browser automation",
                  "results": [
                    {
                      "id": "8ec7797f-d0b8-474d-a128-d96e88155253",
                      "title": "Browser automation guide",
                      "url": "https://example.com/browser-automation",
                      "snippet": "A practical guide to browser automation."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Search query. Whitespace is trimmed before searching.",
                    "example": "browser automation"
                  },
                  "numResults": {
                    "default": 10,
                    "description": "Maximum number of organic results to return.",
                    "example": 10,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        }
      }
    },
    "/v2/web-data/balance": {
      "get": {
        "operationId": "getWebDataBalance",
        "summary": "Get Web Data balance",
        "description": "Returns the authenticated account balance for Web Data requests only. Use getAccountBalances for an account-level rollup across products.",
        "tags": [
          "Web Data"
        ],
        "responses": {
          "200": {
            "description": "Web Data request balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebDataBalance"
                },
                "example": {
                  "requests": {
                    "total": 100,
                    "used": 25,
                    "remaining": 75
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/web-data/usage": {
      "get": {
        "operationId": "getWebDataUsage",
        "summary": "Get Web Data usage",
        "description": "Returns Web Data API usage for the authenticated account as UTC period rollups: yesterday, last7Days, and last30Days. If from or to is supplied, the response also includes requestedRange. Use this for Web Data-only reporting.",
        "tags": [
          "Web Data"
        ],
        "responses": {
          "200": {
            "description": "Web Data request usage.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "$ref": "#/components/schemas/WebDataRequestUsage"
                    },
                    "lastUpdatedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Most recent Web Data API request timestamp for the filters.",
                      "example": "2026-06-10T12:00:00.000Z"
                    },
                    "filters": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "example": "2025-01-27T00:00:00.000Z",
                          "type": "string"
                        },
                        "to": {
                          "example": "2025-12-28T23:59:59.999Z",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "requests",
                    "lastUpdatedAt",
                    "filters"
                  ]
                },
                "example": {
                  "requests": {
                    "yesterday": {
                      "total": 3,
                      "successful": 2,
                      "failed": 1
                    },
                    "last7Days": {
                      "total": 30,
                      "successful": 28,
                      "failed": 2
                    },
                    "last30Days": {
                      "total": 120,
                      "successful": 112,
                      "failed": 8
                    },
                    "requestedRange": {
                      "total": 30,
                      "successful": 28,
                      "failed": 2
                    }
                  },
                  "lastUpdatedAt": "2026-06-10T12:00:00.000Z",
                  "filters": {
                    "from": "2025-01-27T00:00:00.000Z",
                    "to": "2025-12-28T23:59:59.999Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "example": "2025-01-27T00:00:00Z",
              "anyOf": [
                {
                  "type": "string",
                  "format": "date",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                },
                {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                }
              ]
            },
            "description": "Start date or datetime in RFC 3339 format."
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "example": "2025-12-28",
              "anyOf": [
                {
                  "type": "string",
                  "format": "date",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                },
                {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                }
              ]
            },
            "description": "End date or datetime in RFC 3339 format."
          }
        ]
      }
    },
    "/v2/proxy/rotating/connections": {
      "post": {
        "operationId": "buildRotatingProxyConnection",
        "summary": "Build a rotating proxy connection",
        "description": "Builds one rotating proxy connection string from targeting and session options. Use connection.connectionString as the primary copy-paste value. Set subuserId to an ID from /v2/proxy/rotating/subusers, or omit it to use the first account subuser. Use locations first to choose valid country, city, and state values; state takes precedence over city.",
        "tags": [
          "Rotating Proxy"
        ],
        "responses": {
          "200": {
            "description": "Generated rotating proxy connection details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connection": {
                      "$ref": "#/components/schemas/RotatingProxyConnection"
                    },
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "subuserId": {
                          "description": "Subuser ID from GET /v2/proxy/rotating/subusers. When omitted, the first account subuser is used.",
                          "example": 123,
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "residential",
                            "mobile",
                            "datacenter"
                          ],
                          "description": "Proxy type",
                          "example": "residential"
                        },
                        "country": {
                          "description": "2-letter country code.",
                          "example": "US",
                          "type": "string",
                          "pattern": "^[a-zA-Z]{2}$"
                        },
                        "city": {
                          "description": "City name from GET /v2/proxy/rotating/locations. Spaces are encoded as underscores. Used only when state is not supplied.",
                          "example": "New York",
                          "type": "string",
                          "minLength": 1
                        },
                        "state": {
                          "description": "State or subdivision value from GET /v2/proxy/rotating/locations. When supplied, it takes precedence over city.",
                          "example": "CA",
                          "type": "string",
                          "minLength": 1
                        },
                        "asn": {
                          "description": "Target ASN as digits.",
                          "example": "15169",
                          "type": "string",
                          "pattern": "^\\d+$"
                        },
                        "rotation": {
                          "default": 15,
                          "description": "Rotation value: -1 for each request, 0 for sticky, or interval minutes.",
                          "example": 15,
                          "anyOf": [
                            {
                              "type": "number",
                              "const": -1
                            },
                            {
                              "type": "number",
                              "const": 0
                            },
                            {
                              "type": "number",
                              "const": 5
                            },
                            {
                              "type": "number",
                              "const": 10
                            },
                            {
                              "type": "number",
                              "const": 15
                            },
                            {
                              "type": "number",
                              "const": 20
                            },
                            {
                              "type": "number",
                              "const": 60
                            }
                          ]
                        },
                        "session": {
                          "example": "my_session_1",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "protocol": {
                          "default": "http",
                          "example": "http",
                          "type": "string",
                          "enum": [
                            "http",
                            "https",
                            "socks5"
                          ]
                        },
                        "udp": {
                          "default": false,
                          "description": "Route UDP traffic through the proxy. Supported only for SOCKS5 residential or mobile proxies.",
                          "example": false,
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "type",
                        "country"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "connection",
                    "parameters"
                  ]
                },
                "example": {
                  "connection": {
                    "protocol": "socks5",
                    "host": "geo.g-w.info",
                    "port": 10800,
                    "username": "user-USERNAME-type-residential-session-my_session_1-country-US-state-california-asn-15169-rotation-15-udp-1",
                    "password": "PASSWORD",
                    "connectionString": "socks5://user-USERNAME-type-residential-session-my_session_1-country-US-state-california-asn-15169-rotation-15-udp-1:PASSWORD@geo.g-w.info:10800"
                  },
                  "parameters": {
                    "subuserId": 123,
                    "type": "residential",
                    "country": "US",
                    "state": "california",
                    "asn": "15169",
                    "rotation": 15,
                    "session": "my_session_1",
                    "protocol": "socks5",
                    "udp": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subuserId": {
                    "description": "Subuser ID from GET /v2/proxy/rotating/subusers. When omitted, the first account subuser is used.",
                    "example": 123,
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "residential",
                      "mobile",
                      "datacenter"
                    ],
                    "description": "Proxy type",
                    "example": "residential"
                  },
                  "country": {
                    "description": "2-letter country code.",
                    "example": "US",
                    "type": "string",
                    "pattern": "^[a-zA-Z]{2}$"
                  },
                  "city": {
                    "description": "City name from GET /v2/proxy/rotating/locations. Spaces are encoded as underscores. Used only when state is not supplied.",
                    "example": "New York",
                    "type": "string",
                    "minLength": 1
                  },
                  "state": {
                    "description": "State or subdivision value from GET /v2/proxy/rotating/locations. When supplied, it takes precedence over city.",
                    "example": "CA",
                    "type": "string",
                    "minLength": 1
                  },
                  "asn": {
                    "description": "Target ASN as digits.",
                    "example": "15169",
                    "type": "string",
                    "pattern": "^\\d+$"
                  },
                  "rotation": {
                    "default": 15,
                    "description": "Rotation value: -1 for each request, 0 for sticky, or interval minutes.",
                    "example": 15,
                    "anyOf": [
                      {
                        "type": "number",
                        "const": -1
                      },
                      {
                        "type": "number",
                        "const": 0
                      },
                      {
                        "type": "number",
                        "const": 5
                      },
                      {
                        "type": "number",
                        "const": 10
                      },
                      {
                        "type": "number",
                        "const": 15
                      },
                      {
                        "type": "number",
                        "const": 20
                      },
                      {
                        "type": "number",
                        "const": 60
                      }
                    ]
                  },
                  "session": {
                    "example": "my_session_1",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "protocol": {
                    "default": "http",
                    "example": "http",
                    "type": "string",
                    "enum": [
                      "http",
                      "https",
                      "socks5"
                    ]
                  },
                  "udp": {
                    "default": false,
                    "description": "Route UDP traffic through the proxy. Supported only for SOCKS5 residential or mobile proxies.",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "country"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        }
      }
    },
    "/v2/proxy/rotating/subusers": {
      "get": {
        "operationId": "listRotatingProxySubusers",
        "summary": "List rotating proxy subusers",
        "description": "Returns rotating proxy subusers for the authenticated account. Use a subuser username and password when building proxy usernames manually. Pass a returned id as subuserId to /v2/proxy/rotating/connections, /v2/proxy/rotating/usage, or /v2/account/usage.",
        "tags": [
          "Rotating Proxy"
        ],
        "responses": {
          "200": {
            "description": "Proxy subusers for the authenticated account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subuser"
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                },
                "example": {
                  "items": [
                    {
                      "id": 123,
                      "name": "crawler-prod",
                      "username": "USERNAME",
                      "password": "PASSWORD"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRotatingProxySubuser",
        "summary": "Create a rotating proxy subuser",
        "description": "Creates a named rotating proxy subuser for the authenticated account and returns its proxy username and password. Use this when you need separate proxy identities for workloads, teams, or environments.",
        "tags": [
          "Rotating Proxy"
        ],
        "responses": {
          "201": {
            "description": "Proxy subuser created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subuser": {
                      "$ref": "#/components/schemas/Subuser"
                    }
                  },
                  "required": [
                    "subuser"
                  ]
                },
                "example": {
                  "subuser": {
                    "id": 124,
                    "name": "crawler-prod",
                    "username": "USERNAME",
                    "password": "PASSWORD"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "description": "Human-readable label for the new proxy subuser.",
                    "example": "crawler-prod"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        }
      }
    },
    "/v2/proxy/rotating/subusers/{subuserId}": {
      "delete": {
        "operationId": "deleteRotatingProxySubuser",
        "summary": "Delete a rotating proxy subuser",
        "description": "Deletes one proxy subuser owned by the authenticated account. Proxy strings that use the deleted username stop working. The final remaining subuser cannot be deleted.",
        "tags": [
          "Rotating Proxy"
        ],
        "responses": {
          "204": {
            "description": "Proxy subuser deleted."
          },
          "400": {
            "description": "The request body or query parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Invalid request parameters.",
                    "details": {
                      "issues": [
                        {
                          "path": "countryCode",
                          "code": "invalid_format",
                          "message": "Expected a 2-letter country code."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing, invalid, or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized",
                    "details": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "The account does not have enough balance for this request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "insufficient_balance",
                    "message": "Insufficient proxy traffic balance.",
                    "details": {}
                  }
                }
              }
            }
          },
          "403": {
            "description": "The API key does not grant access to this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Forbidden",
                    "details": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource is not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Requested resource was not found.",
                    "details": {}
                  }
                }
              }
            }
          },
          "409": {
            "description": "The authenticated account is not configured for this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "account_not_configured",
                    "message": "Account is not configured for proxy products.",
                    "details": {}
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Internal Server Error",
                    "details": {}
                  }
                }
              }
            }
          },
          "502": {
            "description": "A dependent service failed while processing the request. Retry the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": "service_error",
                    "message": "Failed to fetch data from a dependent service.",
                    "details": {
                      "serviceStatus": 503
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "subuserId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            },
            "required": true
          }
        ]
      }
    },
    "/v2/proxy/rotating/locations": {
      "get": {
        "operationId": "listRotatingProxyLocations",
        "summary": "List rotating proxy locations for a proxy type",
[...]
